body {
  background: var(
    --fon,
    linear-gradient(134deg, #1c1c1c 15.75%, #2e2e2e 74.68%)
  );
}

.line1 {
  background-color: white;
  width: 35.9375vw;
  height: 1px;
  z-index: 10;
  position: absolute;
  margin-top: 21.302083333333332vw;
  margin-left: 4.947916666666666vw;
}

.line2 {
  background-color: white;
  width: 0.6630208333333334vw;
  height: 1px;
  transform: rotate(-45deg);
  z-index: 10;
  position: absolute;
  margin-top: 22.760416666666668vw;
  margin-left: 23.385416666666668vw;
}

.line3 {
  background-color: white;
  width: 0.6630208333333334vw;
  height: 1px;
  transform: rotate(-135deg);
  z-index: 10;
  position: absolute;
  margin-top: 22.760416666666668vw;
  margin-left: 22.447916666666668vw;
}

.Slide {
  height: 100vh;
  width: 100vw;
}

.Fon1 {
  font-size: 200px;
  width: 100vw;
  height: 56.25vw;
  background: var(
    --fon,
    linear-gradient(134deg, #1c1c1c 15.75%, #2e2e2e 74.68%)
  );
}

.Fon2 {
  font-size: 200px;
  width: 100vw;
  height: 56.25vw;
  background: #000000;
}

.carousel-indicators {
  height: 0.9375vw;
  width: 20.9375vw;
  margin-left: 69.11458333333333vw;
  margin-bottom: 6.614583333333333vw;
}

.fire {
  background: linear-gradient(180deg, #000 23%, rgba(148, 148, 148, 0) 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: soft-light;
  position: absolute;
  font-size: 10.417vw;
  left: 1.634em;
  top: 0.435em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.walker {
  color: rgba(255, 255, 255, 0.54);
  line-height: 120.748%;
  position: absolute;
  font-size: 10.417vw;
  left: 4.555em;
  top: 1.13em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.dual {
  background: linear-gradient(180deg, #000 23%, rgba(148, 148, 148, 0) 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: soft-light;
  position: absolute;
  font-size: 10.417vw;
  left: 1.465em;
  top: 0.645em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.sence {
  background: linear-gradient(180deg, #fff 0%, rgba(153, 153, 153, 0) 81.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 120.748%;
  position: absolute;
  font-size: 10.417vw;
  left: 4.535em;
  top: 0.645em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.mar {
  background: linear-gradient(180deg, #000 23%, rgba(148, 148, 148, 0) 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: soft-light;
  position: absolute;
  font-size: 11.979166666666668vw;
  left: 1.5em;
  top: 0.41739130434782606em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.shall {
  color: rgba(255, 255, 255, 0.54);
  line-height: 120.748%;
  position: absolute;
  font-size: 11.979166666666668vw;
  left: 3.891304347826087em;
  top: 0.41739130434782606em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.gla {
  background: linear-gradient(180deg, #000 23%, rgba(148, 148, 148, 0) 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: soft-light;
  line-height: 120.748%;
  position: absolute;
  font-size: 11.979166666666668vw;
  left: 1.6695652173913043em;
  top: 1.275em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.sses {
  color: #fff;
  line-height: 120.748%;
  position: absolute;
  font-size: 11.979166666666668vw;
  left: 3.891304347826087em;
  top: 1.275em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.chappie {
  color: #fff;
  line-height: 120.748%;
  position: absolute;
  font-size: 7.864583333333333vw;
  left: 0.48344370860927155em;
  top: 0.6291390728476821em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.blur {
  fill: rgba(217, 217, 217, 0.1);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0);
  backdrop-filter: blur(6.5px);
  position: absolute;
  left: 0em;
  top: 0em;
  width: 45.364583333333336vw;
  height: 56.25vw;
  z-index: 3;
}

.figures {
  position: absolute;
  width: 100vw;
}

/* .card {
  fill: rgba(0, 206, 158, 0.15);
  stroke-width: 1px;
  stroke: rgba(0, 222, 170, 0.5);
  backdrop-filter: blur(17.5px);
  position: absolute;
  top: 1.03em;
  left: 3.245em;
  height: 35.833333333333336vw;
  width: 32.447916666666664vw;
} */

.getInTouch {
  width: 378px;
  height: 117px;
  text-align: left;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Microsoft Yi Baiti";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.748%; /* 57.959px */
  letter-spacing: 1.44px;
  position: absolute;
  top: 6788px;
  left: 737px;
}

.name {
  margin: 0;
  width: Fixed (101px) px;
  height: Fixed (59px) px;
  top: 7038px;
  left: 738px;
  font-family: Microsoft Yi Baiti;
  font-size: 48px;
  font-weight: 400;
  line-height: 57.96px;
  letter-spacing: 0.03em;
  text-align: left;
}

.email {
  margin: 0;
  width: Fixed (101px) px;
  height: Fixed (59px) px;
  top: 7166px;
  left: 738px;
  font-family: Microsoft Yi Baiti;
  font-size: 48px;
  font-weight: 400;
  line-height: 57.96px;
  letter-spacing: 0.03em;
  text-align: left;
}

.underline1 {
  background: rgba(255, 255, 255, 0.3);
  width: 446px;
  height: 1px;
  position: absolute;
  top: 7100px;
  left: 737px;
}

.underline2 {
  background: rgba(255, 255, 255, 0.3);
  width: 446px;
  height: 1px;
  position: absolute;
  top: 7230px;
  left: 737px;
}
