body {
  background: var(
    --fon,
    linear-gradient(134deg, #1c1c1c 15.75%, #2e2e2e 74.68%)
  );
}

.N {
  width: 1.06em;
  height: 1.5em;
  color: #00674f;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 15.625vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 300px */
  letter-spacing: 147px;
  margin: 0;
  position: absolute;
  top: 17.708333333333336vw;
  left: 44.479166666666664vw;
  gap: 0px;
  opacity: 0px;
}

.explore {
  width: 11.083333333333334vw;
  position: absolute;
  top: 24.3vw;
  left: 1.1%;
  transform: rotate(90deg);
  color: #00674f;
  text-align: center;
  font-family: NanumMyeongjo;
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
  letter-spacing: 0.525vw;
}

.rectangle {
  width: 2.34375vw;
  height: 9.6875vw;
  position: absolute;
  top: 0px;
  left: 5.73%;
  opacity: 0px;
  background: linear-gradient(180deg, #00674f 0%, rgba(96, 203, 165, 0) 100%);
}

.hr1 {
  background-color: #00674f;
  width: 1px;
  height: 16.5625vw;
  flex-shrink: 0;
  position: absolute;
  top: 39.6875vw;
  left: 6.82%;
}

.hr2 {
  width: 1px;
  height: 55.208333333333336vw;
  flex-shrink: 0;

  gap: 0px;
  opacity: 0px;
  background: #242424;
  position: absolute;
  top: 1.0416666666666665vw;
  left: 93.13%;
}

.hr3 {
  width: 0.15625vw;
  height: 3.6979166666666665vw;
  flex-shrink: 0;
  background: #00674f;
  position: absolute;
  top: 0px;
  left: 93.07%;
}

.welcome {
  width: 34.166666666666664vw;
  color: #1a1a1a;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.3020833333333335vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 25px */
  letter-spacing: 0.6380208333333334vw;
  position: absolute;
  top: 41.770833333333336vw;
  left: 32.916666666666664vw;
}

.topArrow {
  font-size: 1.5vw;
  color: #244b3d;
  position: absolute;
  top: 47vw;
  left: 49.53vw;
}

.middleArrow {
  font-size: 2vw;
  color: #244b3d;
  position: absolute;
  top: 48vw;
  left: 49.37vw;
}

.downArrow {
  font-size: 2.5vw;
  color: #244b3d;
  position: absolute;
  top: 49vw;
  left: 49.2vw;
}

.info-block {
  height: 10vw;
  width: 35.9375vw;
  position: absolute;
  top: 22.760416666666668vw;
  left: 4.947916666666666vw;
}

.line1 {
  background-color: white;
  width: 35.9375vw;
  height: 1px;
  z-index: 10;
  position: absolute;
}

.prop {
  text-align: center;
  display: none;
  color: white;
  position: relative;
  top: 7%;
  width: 35.9375vw;
  font-size: 1.417vw;
  z-index: 10;
}

.arrowProp {
  color: white;
  font-size: 1.5729166666666666vw;
  z-index: 10;
  margin-top: 7px;
  position: absolute;
  left: 50%;
}

.Slide {
  height: 56.25vw;
  width: 100vw;
}

.Fon1 {
  font-size: 200px;
  width: 100vw;
  height: 56.25vw;
  background: var(
    --fon,
    linear-gradient(134deg, #1c1c1c 15.75%, #2e2e2e 74.68%)
  );
}

.Fon2 {
  font-size: 200px;
  width: 100vw;
  height: 56.25vw;
  background: #000000;
}

.carousel-indicators {
  height: 0.9375vw;
  width: 20.9375vw;
  left: 50.11458333333333vw;
  bottom: 6.614583333333333vw;
  padding-top: 10vw;
}

.fire {
  background: linear-gradient(180deg, #000 23%, rgba(148, 148, 148, 0) 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: soft-light;
  position: absolute;
  font-size: 10.417vw;
  left: 1.634em;
  top: 0.435em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.walker {
  color: rgba(255, 255, 255, 0.54);
  line-height: 120.748%;
  position: absolute;
  font-size: 10.417vw;
  left: 4.555em;
  top: 1.13em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.dual {
  background: linear-gradient(180deg, #000 23%, rgba(148, 148, 148, 0) 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: soft-light;
  position: absolute;
  font-size: 10.417vw;
  left: 1.465em;
  top: 0.645em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.sence {
  background: linear-gradient(180deg, #fff 0%, rgba(153, 153, 153, 0) 81.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 120.748%;
  position: absolute;
  font-size: 10.417vw;
  left: 4.535em;
  top: 0.645em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.mar {
  background: linear-gradient(180deg, #000 23%, rgba(148, 148, 148, 0) 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: soft-light;
  position: absolute;
  font-size: 11.979166666666668vw;
  left: 1.5em;
  top: 0.41739130434782606em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.shall {
  color: rgba(255, 255, 255, 0.54);
  line-height: 120.748%;
  position: absolute;
  font-size: 11.979166666666668vw;
  left: 3.891304347826087em;
  top: 0.41739130434782606em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.gla {
  background: linear-gradient(180deg, #000 23%, rgba(148, 148, 148, 0) 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: soft-light;
  line-height: 120.748%;
  position: absolute;
  font-size: 11.979166666666668vw;
  left: 1.6695652173913043em;
  top: 0.575em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.sses {
  color: rgba(255, 255, 255, 0.54);
  line-height: 120.748%;
  position: absolute;
  font-size: 11.979166666666668vw;
  left: 3.891304347826087em;
  top: 0.575em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.chappie {
  color: rgba(255, 255, 255, 0.54);
  line-height: 120.748%;
  position: absolute;
  font-size: 7.864583333333333vw;
  left: 0.48344370860927155em;
  top: 0.6291390728476821em;
  z-index: 3;
  font-family: Pragati Narrow;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: left;
}

.blur {
  border-radius: 0% 10% 10% 0%;
  border-right: solid rgba(217, 217, 217, 0.1) 1px;
  backdrop-filter: blur(9.5px);
  position: absolute;
  left: 0em;
  top: 0em;
  width: 45.364583333333336vw;
  height: 56.25vw;
  z-index: 3;
}

.end {
  position: relative;
}

.figures {
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.card {
  background-color: rgba(0, 206, 158, 0.15);
  stroke-width: 1px;
  stroke: rgba(0, 222, 170, 0.5);
  backdrop-filter: blur(17.5px);
  border-radius: 13px;
  position: absolute;
  top: 10.729vw;
  left: 33.802vw;
  height: 35vw;
  width: 31.7vw;
  z-index: 0;
}

.getInTouch {
  width: 30vw;
  text-align: left;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.95);
  font-family: Microsoft Yi Baiti;
  font-size: 3.4vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120.748%;
  letter-spacing: 0.03em;
  position: absolute;
  top: 15.042vw;
  left: 36.385vw;
}

.name {
  width: 23.229vw;
  text-align: left;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.3);
  font-family: Microsoft Yi Baiti;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120.748%;
  letter-spacing: 0.01em;
  position: absolute;
  top: 28.063vw;
  left: 38.438vw;
  z-index: 10;
  border: none;
  border-bottom: rgba(255, 255, 255, 0.3) solid 1px;
  background-color: #00000000;
}

.email {
  width: 23.229vw;
  text-align: left;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.3);
  font-family: Microsoft Yi Baiti;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120.748%;
  letter-spacing: 0.01em;
  position: absolute;
  top: 34.729vw;
  left: 38.438vw;
  z-index: 10;
  border: none;
  border-bottom: rgba(255, 255, 255, 0.3) solid 1px;
  background-color: #00000000;
}

.underline2 {
  background: rgba(255, 255, 255, 0.3);
  width: 23.229vw;
  height: 1px;
  position: absolute;
  top: 38.563vw;
  left: 38.438vw;
}

.footer {
  position: relative;
  top: 1px;
  border-top: rgba(255, 255, 255, 0.3) solid 2px;
}

.footer * a,
.footer * p {
  color: white;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

@keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .line-animation {
    animation: wipe-enter 2s 1;
  }
}
